.f-card {
  background-color: @color-white;
  color: @color-grey-base;
  text-align: left;
  box-shadow: @box-shadow-base;
  border-radius: @border-radius-base;

  &-icon {

  }
  &-info {

  }
  @media (min-width: @screen-md) {
    display: flex;
    flex-direction: row;
  }
}
