@color-icon-grey:       #888;
@color-icon-grey-light: #B4B0B0;
@color-icon-green:      #a4c639;
@color-icon-blue:       #0078d7;


/** Example:
*  <div class="f-card f-apple">
*    <div class="f-card-icon">
*      <i class="fab fa-apple fa-4x"></i>
*    </div>
*    <div class="f-card-info">
*      <h4>Download</h4>
*      <p class="u-txt-grey">Download from App Store</p>
*    </div>
*  </div>
*/

.f-card {
  background-color: @color-white;
  color: @color-grey-base;
  text-align: center;
  box-shadow: @box-shadow-base;
  border-radius: @border-radius-base;
  padding: @space-base;

  h4 {
    padding-bottom: @space-small;
    font-size: @font-size-22;
    font-family: @font-family-dosis;
    color: @color-grey-darker;
  }

  &-icon {
    color: @color-icon-grey;
  }

  &-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }

  &-info {

  }

  &-head {
    color: @color-grey-darker;
    font-family: @font-family-dosis;
    font-size: @font-size-19;
    padding-bottom: @space-medium;
  }

  &-body {

    li {
      list-style-type: none;
      border-bottom: 1px dashed @color-grey-lightest;
      padding: @space-medium 0;
    }
  }

  &-footer {
    p {
      padding: @space-medium 0;
    }

    a {
      color: @color-grey-light;
      font-size: @font-size-13;
      font-family: @font-family-roboto;
      opacity: 0.75;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }

  // For desktop
  @media (min-width: @screen-md) {
    &-icon,
    &-img {
      margin-right: @space-20;
    }

    &-row {
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }
  }

  // For tablet and mobile
  @media (max-width: @screen-md) {
    font-size: @font-size-12;
  }

}


/*
* For download component
*/
// Hover color for icon in f-card
.f-apple:hover .f-card-icon {
  color: @color-icon-grey-light;
}

.f-android:hover .f-card-icon {
  color: @color-icon-green;
}

.f-windows:hover .f-card-icon {
  color: @color-icon-blue;
}

/*
* For price component
*/
.f-price {
  .f-card {
    box-shadow: @box-shadow-around;
  }

  &-sum {
    font-family: @font-family-dosis;
    font-size: @font-size-22;
    color: @color-grey-darker;
    margin: 0 -@space-base;
    padding: 28px 0; // 28px - top, bottom; 0 - left, right
    background-color: @color-white;

    sup {
      vertical-align: top;
    }

    span {
      line-height: 33px;
    }
  }
}







