.f-feature {
  .mixin-flex-row;

  .f-icon {
    color: @color-orange;
    margin-right: 30px;
    padding-top: 6px;
  }

  &-content {

    h4 {
      color: @color-grey-darkest;
      font-size: @font-size-22;
      font-family: @font-family-dosis;
      margin: 0 0 24px 0;
    }

    p {
      font-family: @font-family-roboto;
      margin: 0;
    }
  }
}

