<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Slide1 -->
    <div class="item active">

      <div class="row">
        <div class="col-xs-6">
          <img src="..." alt="...">
        </div>
        <div class="col-xs-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas, ratione consequuntur, est repudiandae consequatur quis qui omnis soluta sunt atque, ab quidem magnam quod minus voluptatum eaque, vel. Eum.
        </div>
      </div>

      <div class="carousel-caption"> ... </div>
    </div>

    <!-- Slide2 -->
    <div class="item">

      <div class="row">
        <div class="col-xs-6">
          <img src="..." alt="...">
        </div>
        <div class="col-xs-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas, ratione consequuntur, est repudiandae consequatur quis qui omnis soluta sunt atque, ab quidem magnam quod minus voluptatum eaque, vel. Eum.
        </div>
      </div>

      <div class="carousel-caption"> ... </div>
    </div>
   ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control"
     href="#carousel-example-generic"
     role="button"
     data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control"
     href="#carousel-example-generic"
     role="button"
     data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"
          aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>