<section class="u-txt-center u-bg-gradient">
    <div class="container">
      <h3 class="f-title">
        Download Awesome App Now
      </h3>
      <div class="row">

        <!-- Card1 -->
        <div class="col-sm-4">
          <div class="f-card f-apple f-animate">
            <div class="f-card-row">
              <div class="f-card-icon">
                <i class="fab fa-apple fa-4x"></i>
              </div>
              <div class="f-card-info">
                <h4>Download</h4>
                <p class="u-txt-grey">Download from App Store</p>
             </div>
            </div>
          </div>
        </div>

        <!-- Card2 -->
        <div class="col-sm-4">
          <div class="f-card f-android f-animate">
            <div class="f-card-row">
              <div class="f-card-icon">
                <i class="fab fa-android fa-4x"></i>
              </div>
              <div class="f-card-info">
                <h4>Download</h4>
                <p class="u-txt-grey">Download from Play Store</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card3 -->
        <div class="col-sm-4">
          <div class="f-card f-windows f-animate">
            <div class="f-card-row">
              <div class="f-card-icon">
                <i class="fab fa-windows fa-4x"></i>
              </div>
              <div class="f-card-info">
                <h4>Download</h4>
                <p class="u-txt-grey">Download from Microsoft Store</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>