<section>
    <div class="container">
      <div class="row">
        <div class="f-features">
          <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-tags f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>Showcase Your App</h4>
              <p class="u-txt-grey">Showcase your app in style with this professional looking template.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-cog f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>Easy to Customize</h4>
              <p class="u-txt-grey">Easily customize the text and replace the images to suit your own app.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-paint-brush f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>Unlimited Colors</h4>
              <p class="u-txt-grey">Easily change the colors in CSS that can go well with your branding.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-desktop f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>Responsive, HTML5, CSS3</h4>
              <p class="u-txt-grey">Our template is 100% responsive and built with modern standards.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-file-alt f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>Designed to Convert</h4>
              <p class="u-txt-grey">Designed to engage your user and increase your conversion.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="f-feature">
            <div class="f-feature-i">
              <i class="fa fa-life-ring f-icon f-icon-48"></i>
            </div>
            <div class="f-feature-content">
              <h4>With no Boundaries</h4>
              <p class="u-txt-grey">Use Bootstrap and PaperKit to add additional components.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>