 <section class="u-txt-center">
    <div class="container">
      <h3 class="f-title">
        What our customers are saying
      </h3>
      <p>
        Real user testimonials are great way to attract new customers and increase their trust into using your app.
      <br> Replace the testimonials below with the ones for your own app.
      </p>

      <div class="row">

        <!-- Card1 -->
        <div class="col-sm-4">
          <div class="f-card u-bg-grey u-txt-left-sm">
            <p class="u-padding-bottom-20">Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>

            <div class="f-card-row">
              <img class="f-card-img" src="../img/photo1.jpg"/>
              <div class="f-card-info">
                <h4>Patrick Harry</h4>
                <p class="u-txt-grey">Web Developer</p>
              </div>

            </div>

          </div>
        </div>

        <!-- Card2 -->
        <div class="col-sm-4">
          <div class="f-card u-bg-grey u-txt-left-sm">
            <p class="u-padding-bottom-20">Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>

            <div class="f-card-row">
              <img class="f-card-img" src="../img/photo2.jpg"/>
              <div class="f-card-info">
                <h4>Andrew Riley</h4>
                <p class="u-txt-grey">UI Designer</p>
              </div>
            </div>

          </div>
        </div>

        <!-- Card3 -->
        <div class="col-sm-4">
          <div class="f-card u-bg-grey u-txt-left-sm">
            <p class="u-padding-bottom-20">Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>

            <div class="f-card-row">
              <img class="f-card-img" src="../img/photo3.jpg"/>
              <div class="f-card-info">
                <h4>Ralph Jordan</h4>
                <p class="u-txt-grey">Copywriter</p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>