<footer class="f-footer u-txt-center">
  <div class="f-footer-social">
    <a href="javascript: void(0)" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
    <a href="javascript: void(0)" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="javascript: void(0)" target="_blank"><i class="fab fa-google-plus-g fa-2x"></i></a>
    <a href="javascript: void(0)" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
  </div>
  <p>
    Copyright © Awesome App. All rights reserved.
    <br>Design - <a href="javascript: void(0)" target="_blank" class="f-link-dashed">TemplateFlip</a>
  </p>
</footer>