<header class="f-head u-bg-gradient">
    <!-- TODO: js-head-fixed - add if head fixed -->

    <div class="container">
      <div class="f-head-row">
        <!-- Logo -->
        <a href="" class="f-logo">
          <img src="img/logo.png">
          <span>Awesome App</span>
        </a>

        <!-- Menu -->
        <div class="f-nav">
          <div class="f-nav-item">
            <a href="#">Home</a>
          </div>
          <div class="f-nav-item">
            <a href="#">Features</a>
          </div>
          <div class="f-nav-item">
            <a href="#">Pricing</a>
          </div>
          <div class="f-nav-item">
            <button class="f-btn f-btn-white">Download now</button>
          </div>
        </div>
      </div>

    </div>
</header>
