<section class="u-txt-center">
    <div class="container">
      <h3 class="f-title">
        What our customers are saying
      </h3>
      <p>
        A section to display your pricing structure. Make sure to highlight your most popular plan like shown below.
        <br> Replace this text to describe your pricing plan.
      </p>

      <div class="row f-price">

        <!-- Price1 -->
        <div class="col-md-3 col-sm-6">
          <div class="f-card u-bg-grey f-animate">
            <div class="f-card-head">
              <span>Basic</span>
            </div>
            <div class="f-price-sum">
              <sup>$</sup><span class="u-txt-large">12.0</span>/m
            </div>
            <ul class="f-card-body u-txt-grey">
              <li>One User</li>
              <li>Multiple Access</li>
              <li>SMS Support</li>
              <li>24/7 Online Support</li>
            </ul>
            <div class="f-card-footer">
              <p><a href="#">Start Free Trial</a></p>
              <button class="f-btn f-btn-grey">Download</button>
            </div>
          </div>
        </div>

        <!-- Price2 -->
        <div class="col-md-3 col-sm-6">
          <div class="f-card f-animate">
            <div class="f-card-head">
              <span>Standard</span>
            </div>
            <div class="f-price-sum u-bg-gradient">
              <sup>$</sup><span class="u-txt-large">24.0</span>/m
            </div>
            <ul class="f-card-body u-txt-grey">
              <li>One User</li>
              <li>Multiple Access</li>
              <li>SMS Support</li>
              <li>24/7 Online Support</li>
            </ul>
            <div class="f-card-footer">
              <p><a href="#">Start Free Trial</a></p>
              <button class="f-btn f-btn-gradient">Download</button>
            </div>
          </div>
        </div>

        <!-- Price3 -->
       <div class="col-md-3 col-sm-6">
          <div class="f-card u-bg-grey f-animate">
            <div class="f-card-head">
              <span>Basic</span>
            </div>
            <div class="f-price-sum">
              <sup>$</sup><span class="u-txt-large">12.0</span>/m
            </div>
            <ul class="f-card-body u-txt-grey">
              <li>One User</li>
              <li>Multiple Access</li>
              <li>SMS Support</li>
              <li>24/7 Online Support</li>
            </ul>
            <div class="f-card-footer">
              <p><a href="#">Start Free Trial</a></p>
              <button class="f-btn f-btn-grey">Download</button>
            </div>
          </div>
        </div>

        <!-- Price4 -->
        <div class="col-md-3 col-sm-6">
          <div class="f-card u-bg-grey f-animate">
            <div class="f-card-head">
              <span>Basic</span>
            </div>
            <div class="f-price-sum">
              <sup>$</sup><span class="u-txt-large">12.0</span>/m
            </div>
            <ul class="f-card-body u-txt-grey">
              <li>One User</li>
              <li>Multiple Access</li>
              <li>SMS Support</li>
              <li>24/7 Online Support</li>
            </ul>
            <div class="f-card-footer">
              <p><a href="#">Start Free Trial</a></p>
              <button class="f-btn f-btn-grey">Download</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>