<section class="u-txt-center u-bg-grey">
    <div class="container">
      <h3 class="f-title">
        Table
      </h3>

      <table border="3" rules="all">
        <caption>
          Заголовок таблицы
        </caption>
        <colgroup>
          <col style="width: 50px"/>
          <col/>
          <col/>
          <col style="width: 150px"/>
        </colgroup>
        <thead>
          <tr>
            <th>Col1</th>
            <th>Col2</th>
            <th colspan='2'>Col3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>aaa</td>
            <td rowspan='2'>bbb</td>
            <td>ccc</td>
            <td>ccc</td>
          </tr>
          <tr>
            <td>aaa</td>
            <td>bbb</td>
            <td>ccc</td>
          </tr>
          <tr>
            <td>aaa</td>
            <td>bbb</td>
            <td>ccc</td>
            <td>ccc</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>edqw</td>
            <td>fefe</td>
            <td>ghrth</td>
            <td>thrth</td>
          </tr>
        </tfoot>
      </table>

      <hr>
      <h3 class="f-title">
        Table 2
      </h3>

      <table class="table2">
        <caption>
          Заголовок таблицы 2
        </caption>
        <tbody>
          <!-- Row1 -->
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>

          <!-- Row2 -->
          <tr>
            <td colspan="2">1</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>

          <!-- Row3 -->
          <tr>
            <td colspan="3">1</td>
            <td>4</td>
            <td rowspan="3">5</td>
            <td>6</td>
          </tr>

          <!-- Row4 -->
          <tr>
            <td rowspan="2">1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>

          <!-- Row5 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>

      </table>

      <br>

      <!-- Table 3 -->
      <h3 class="f-title">
        Table 3
      </h3>

      <table class="table3">
        <caption>
          <b>Таблица 1</b> Рекомендуемое суточное потребление энергиии, белков, жиров, углеводов
        </caption>
        <colgroup>
          <col style="width: 80px" />
          <col style="width: 120px"/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>

        <tbody>

          <!-- Row 1 -->
          <tr>
            <td rowspan="2">Группы труда</td>
            <td rowspan="2">Возрастные группы</td>
            <td colspan="4">Мужчины</td>
            <td colspan="4">Женщины</td>
          </tr>

          <!-- Row 2 -->
          <tr>
            <td>Энергия, ккал</td>
            <td>Белки, г</td>
            <td>Жиры, г</td>
            <td>Углеводы, г</td>
            <td>Энергия, ккал</td>
            <td>Белки, г</td>
            <td>Жиры, г</td>
            <td>Углеводы, г</td>
          </tr>

          <!-- Row 3 -->
          <tr>
            <td rowspan="3" class="groupnums">1.</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 4 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 5 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 6 -->
          <tr>
            <td rowspan="3" class="groupnums">2.</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 7 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 8 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 9 -->
          <tr>
            <td rowspan="3" class="groupnums">3.</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 10 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 11 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 12 -->
          <tr>
            <td rowspan="3" class="groupnums">4.</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 13 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 14 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 15 -->
          <tr>
            <td rowspan="3" class="groupnums">5.</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 16 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>

          <!-- Row 17 -->
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>


        </tbody>
      </table>

  </div>
</section>










