@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  color: @color-grey-base;
  line-height: normal;
  font-size: @font-size-base;
  font-family: @font-family-roboto;
}

p {
  line-height: 24px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: @font-size-50;
}

h3 {
  font-size: @font-size-39;
}

a {
  text-decoration: none;
  color: inherit;
}

.f-title {
  color: @color-grey-darkest;
  font-family: @font-family-dosis;
  margin-bottom: 25px;
}

.f-link-dashed {
  border-bottom: 1px dashed;

  &:hover {
    border-bottom-color: transparent;
  }
}

// Header
.f-head {
  text-transform: uppercase;
  padding: @space-20 0;

  &-row {
    .mixin-flex-row;
    .mixin-flex-start-center;
  }

  .f-logo {
    font-family: @font-family-dosis;
    font-size: 24px;
    white-space: nowrap;
    .mixin-flex-row;
    .mixin-flex-start-center;

    span {
      padding-left: @space-20;
    }
  }

  .f-nav {
    font-size: @font-size-12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &-item {
      &:not(:first-child) {
        padding-left: 20px;
      }

      a {
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &.js-head-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: @color-grey-darker-bg;
    padding: @space-medium 0;
    z-index: 2;
  }
}

// Section
section {
  padding: 70px 0;
}

// Footer
.f-footer {
  background-color: @color-grey-darker-bg;
  color: @color-grey-lightest;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 24px;

  &-social {
    padding-bottom: @space-base;

    a {
      display: inline-block;
      color: @color-white;
      padding: 0 @space-20;
    }
  }
}


