@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.f-title {
  color: @color-grey-darkest;
  font-family: @font-family-dosis;
  font-size: @font-size-39;
  margin-bottom: 25px;
}

body {
  color: @color-grey-base;
  line-height: normal;
  font-size: @font-size-base;
}

// Section
section {
  &.f-section-orange {
    background: @color-orange-gradient;
    color: @color-white;
    padding: 70px 0;

    .f-title {
      color: @color-white;
    }
  }
}

