@import 'variable-theme';

@font-family-dosis:   'Dosis', Helvetica, Arial, sans-serif;
@font-family-roboto:  'Roboto', Helvetica, Arial, sans-serif;

@font-size-12:    12px; // button text caps and cards
@font-size-13:    13px; // price footer small
@font-size-14:    14px; // list with points
@font-size-base:  15px;
@font-size-19:    19px; // title pricse and name cards
@font-size-22:    22px; // title downloads
@font-size-24:    24px; // logo
@font-size-39:    39px; // section main title
@font-size-38:    38px; // price
@font-size-50:    50px; // main title

// Spacing
@space-small:     6px;
@space-medium:    13px;
@space-base:      25px;
@space-20:        20px;
@space-double:    @space-base*2;

// Responce
@screen-md:       992px;
@screen-sm:       768px;

// Shadow
@box-shadow-base: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
@box-shadow-hover: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
@box-shadow-around: 0px 0px 10px -1px rgba(0,0,0,0.1); // For prices blocks


// Border radius
@border-radius-base: 12px;
